<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Spring Security Thymeleaf tutorial</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<nav class="menu-bar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/certificate">Certificate</a></li>
        <li><a href="/deposits">Deposits</a></li>
        <li><a href="/match">Match</a></li>
    </ul>
</nav>
<div class="container">
    <div class="user-section">
        This is course content of a course
    </div>
</div>
</body>
</html>
